<div fxLayout="row" fxLayoutAlign="center" class="networkBoxes">
  <mat-checkbox [checked]="showEth" (change)="showEth=!showEth" color="primary">Ethereum</mat-checkbox>
  <span style="width: 3%"></span>
  <mat-checkbox [checked]="showPoly" (change)="showPoly=!showPoly" color="primary">Polygon</mat-checkbox>
</div>

<div class="ethShowcase" *ngIf=showEth>
  <span class="headline">
    Featured Ethereum NFTs
  </span>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly" class="showcase">
    <div *ngFor="let itm of ethShowcase">
      <app-trophycard [thumbURL]=itm.thumbURL [title]=itm.title [author]=itm.author></app-trophycard>
    </div>
  </div>
</div>

<div class="polyShowcase" *ngIf=showPoly>
  <span class="headline">
    Featured Polygon NFTs
  </span>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly" class="showcase">
    <div *ngFor="let itm of polyShowcase">
      <app-trophycard [thumbURL]=itm.thumbURL [title]=itm.title [author]=itm.author></app-trophycard>
    </div>
  </div>
</div>
