<div fxLayout="row" fxLayoutAlign="space-evenly" class="how-to-container">
  <div fxLayout="column" fxLayoutAlign="center center" class="info">
    <img src="../../assets/create-account.png" alt="New account icon">
    Create an account
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="info">
    <img src="../../assets/wallet.png" alt="Wallet icon">
    Connect your wallets
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="info">
    <img src="../../assets/share.png" alt="Share icon">
    Add your unique lazy.com URL to your Instagram and social media bios. Tell your friends!
  </div>
</div>
