.billboard{
  font-size: 20pt;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    padding: 30px;
}

.desc {
  font-size: 20pt;
  display: block;
  height: 350px;
  margin-bottom: 100px;
  margin-top: 250px;
  color: #000;
}
